/* .container {
  border: 2px solid black;
  display: flex;
  justify-content: space-between;
  align-items: center;
} */

.container-1 {
  width: 50%;
}

.container-2 {
  width: 50%;
}

.container-1,
.container-2 {
  color: white;
}

.container-3 {
  width: 50%;
  float: right;
  clear: both;
  margin-top: -600px;
}

/* button {
  width: 50%;
} */

/* .comment-list {
  float: left;
} */

textarea {
  width: 100%;
}

body {
  background-color: rgb(44, 43, 43);
}

.white {
  color: white;
}

.center {
  text-align: center;
  margin-left: -950px;
}
